body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

p {
    margin-top: -30px;
    font-style: italic;
}

.star {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    margin-left:70vw;
    margin-top: 20vh;
    width: 5vw;
}

.star.visible {
    opacity: 1;
}

.found-text {
    font-style: normal;
    margin-left: 70vw;
    margin-top: 5vh;
    opacity: 0;
}

.found-text.visible {
    opacity: 1;
}