body {
    margin: 0;
    height: 1000vh;
    display: flex;
    align-items: flex-end;

    /* I will just do a gradient background */
    background: linear-gradient(black, navy, pink, white);
}

.content {
    /* I want to center the text */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}